<html>
<body>
<p>
<a href="{{ url_for('route', route='ba_nr') }}">BA - NR</a><br/>
<a href="{{ url_for('route', route='nr_ba') }}">NR - BA</a><br/>
<a href="{{ url_for('route', route='ba_split') }}">BA - Split</a><br/>
<a href="{{ url_for('route', route='split_ba') }}">Split - BA</a><br/>
<a href="{{ url_for('route', route='ljubljana_pula') }}">ljubljana_pula</a><br/>
<a href="{{ url_for('route', route='pula_ljubljana') }}">pula_ljubljana</a><br/>
<a href="{{ url_for('route', route='zagreb_krk') }}">zagreb_krk</a><br/>
<a href="{{ url_for('route', route='krk_zagreb') }}">krk_zagreb</a><br/>
<a href="{{ url_for('route', route='becsehely_zadar') }}">becsehely_zadar</a><br/>
<a href="{{ url_for('route', route='zadar_becsehely') }}">zadar_becsehely</a><br/>
<a href="{{ url_for('route', route='spielfeld_zadar') }}">spielfeld_zadar</a><br/>
<a href="{{ url_for('route', route='zadar_spielfeld') }}">zadar_spielfeld</a><br/>
<a href="{{ url_for('route', route='voderady_exitpk') }}">voderady_exitpk</a><br/>
<a href="{{ url_for('route', route='bb_exitpk') }}">bb_exitpk</a><br/>
<a href="{{ url_for('route', route='exitpk_pristavny') }}">exitpk_pristavny</a><br/>
<a href="{{ url_for('route', route='maribor-macelj_trakoscan_dir_zagreb') }}">maribor-macelj_trakoscan_dir_zagreb</a><br/>
<a href="{{ url_for('route', route='macelj_trakoscan_dir_slovenia-maribor') }}">macelj_trakoscan_dir_slovenia-maribor</a><br/>
<a href="{{ url_for('route', route='macelj_trakoscan_dir_zagreb-lucko_dir_zadar') }}">macelj_trakoscan_dir_zagreb-lucko_dir_zadar</a><br/>
<a href="{{ url_for('route', route='lucko_dir_zagreb-macelj_trakoscan_dir_slovenia') }}">lucko_dir_zagreb-macelj_trakoscan_dir_slovenia</a><br/>
<a href="{{ url_for('route', route='lucko_dir_zadar-exit_sveti_rok') }}">lucko_dir_zadar-exit_sveti_rok</a><br/>
<a href="{{ url_for('route', route='exit_sveti_rok-lucko_dir_zagreb') }}">exit_sveti_rok-lucko_dir_zagreb</a><br/>
<a href="{{ url_for('route', route='exit_sveti_rok-zadar') }}">exit_sveti_rok-zadar</a><br/>
<a href="{{ url_for('route', route='zadar-exit_sveti_rok') }}">zadar-exit_sveti_rok</a><br/>
</p>
</body>
</html>
